<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Screenshop.xyz</title>
		<link rel="stylesheet" href="css/index.css">

	</head>

	<body>
		<header class="responsive_header">
			<div class="logo left">
				screenshop.xyz
			</div>
			<div class="center">

			</div>
			<div class="right">
				<p>
					Contact Us
				</p>
			</div>
		</header>
		<main>
			<div class="content_container">



			</div>


		</main>
	</body>
</html>
