<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Task Manager</title>
	</head>
	<body>
		<h1>Sending Whatsapp message from Web interface with user input.</h1>
		<input id="name" placeholder="What's your name?" type="text">
		<button onclick="send_message()">Say Hello to Varun!</button>
		<p id="status"></p>
	</body>
	<script src="/js/task.js"></script>
</html>
